<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhaoxizhang.github.io.leethub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LeetHub">
        <activity
            android:name=".ui.activity.ProblemActivity"
            android:theme="@style/LeetHub.Problem">
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/LeetHub.SearchView">
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:theme="@style/LeetHub.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProblemDetailActivity"
            android:label="@string/title_activity_question_detail"
            android:theme="@style/LeetHub.ProblemDetail" />
        <activity android:name=".ui.activity.ArticleActivity" />
        <activity
            android:name=".ui.activity.ProblemDifficultyActivity"
            android:theme="@style/LeetHub.Difficulty" />
        <activity
            android:name=".ui.activity.TopicsActivity"
            android:theme="@style/LeetHub.Topics" />
        <activity android:name=".ui.activity.QuestionTopicActivity" />
    </application>

</manifest>